*{
  font-family: 'Comfortaa', cursive;
}
.input-field{
  background-color: #121212;
  margin-bottom: 20px;
  border: 1px #999999;
  padding: 5px;
}
.purple-button{
  background-color: #9575CD;
  color: white;
  border: 0;
  padding: 18px 72px;
  font-size: 20px;

}
.side-margin--20{
  margin: 0 20px;
}
.section-title{
  text-align: center;
}
.font-color--purple{
  color: #9575CD;
}
.text-align--right{
  text-align: right;
}
.event-header{
  display: flex;
}
.club-img{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: auto 0;
}
.club-img--big{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: auto 20px;
}
.club-name{
  margin: auto 0;
}
.club-name--big{
  margin: auto 0;
  font-size: 35px;
}
.small-events{
  margin-right: 20px;
  margin-left: 20px;
}
.small-event--img{
  height: 200px;
  width: 100%;
}
.small-event--info{
  display: grid;
  grid-template-columns: 14% auto 25%;
}

.small-event-info--date{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-event-info--title{
 font-size: 22px;
}
.small-event-info--tags{
  font-size: 12px;
  color: #cccccc;
}
.small-event-btn{
  display: flex;
  align-items: center;
}
.full-width{
  width: 100%;
}
.eventList-text{
  margin: 50px 30px;
}