*{
    padding: 0;
    margin: 0;
    /*font-family: 'Proxyma Nova'; dodat font*/
    max-width: 100%;
    
    color: #f2f2f2;
}
body{
    width: 100%;
    background: #121212;
}
.header{
    background-image: url('../images/header.jpg');
    position: relative;
    padding: 400px;
    display: flex;
    flex-direction: column;
}
.header_info{
    position: absolute;
    bottom:100px ;
    left: 40px;
}
.header_info h1{
    font-size: 60px;
}
.header_info h2{
    font-size: 40px;
}
.header_button{
    position: absolute;
    right: 50px;
}

.textColor__purple{
    color: #9575cd
}
.textColor__gray{
    color: #cccccc
}
.textColor__offwhite{
    color: #f2f2f2
}
.eventList{
width: 80%;
margin: 0 auto;
}
.eventList__single{
   width: 100%;
   display: grid;
   grid-template-rows: auto auto auto;
}
.eventList__single-user{

}
.eventList__single-user-img{
    width: 30px;
    border-radius: 100%;

}
.eventList__single-img{
    max-width: 400px;
    height: 100%;

    position: relative ; 
    padding-top: 30%;
    margin: 0 auto;
  background-image: url('../images/alcohol-bar-blur-239466.jpg');
    background-position: center center;
    background-size: cover;
    
    
    
}
.eventList__single-info{
    display: grid;
 grid-template-columns: 12% auto 25%;
}
.eventList__single-date{
    text-align: center;
}

.eventList__single-text{

}